.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#video-wrap {
  position: relative;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
 .video{
     background: black; 
     position:absolute;
     padding: 2px 50px;
     left:0;top:0;
     height: 100%;
     width: 100%;
     height:auto;
     z-index:-100;
     visibility: visible;
     justify-content: center;
 }

 .vid-overlay {
  height: 100%;
  width: 100%;
  display: flex; 
  justify-content: center;  
  position: absolute;
 }

 .vid-overlay {
  opacity: 1;
 }

.vid-overlay .hidden {
  opacity: 0;
 }
 .backButton {
  justify-content: flex-start;
  align-self: flex-start;
  background-color: black;  color: #e3e9f2;
  padding: 6px;
  border-radius: 4px;
/*  font-size: 16px;*/
  border: 0px solid #404142;
  opacity: .75;
 }

 .backButton:hover {
  opacity: 1;
 }

 .playButton {
  background-color: black;  color: #e3e9f2;
  border: 0px;
  margin-right: 5px;
  margin-top: 8px;
 }
.playButton:active, .playButton:focus, .playButton .active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.backButton:active, .backButton:focus, .backButton .active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}


progress {
  display:inline-block;
  width:80%;  
  height:20px;
  padding:9px 0 0 0;
  margin:0;
  background:none;
  border: 0;
  border-radius: 15px;
  text-align: left;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
progress::-webkit-progress-bar {
  height:3px;
  width:90%;
  margin:0px 10px 0 1px;
  background-color: #e3e9f2;
  border-radius: 15px;
  box-shadow:0px 0px 6px #777 inset;
}
progress::-webkit-progress-value {
  display:inline-block;
  float:left;
  height:3px;
  margin:0;
  background: #00ffff;
  border-radius: 15px;
  box-shadow:0px 0px 6px #777 inset;
}


.controls {
  opacity: .85;
  display: inline-block;
  align-self: flex-end;
  background-color: black;
  width: 80%;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 10%;
  margin-left: 8%;
  border-radius: 8px;
}


