body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.video {
    border-radius: 5px;
    cursor: default;
    transition: 0.3s;
}


.thumbVid {
  margin:0;
  margin-bottom: -20px;
}

.vidContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: default

}

.wrap {
   overflow: hidden;
   margin-top: -30px;
   margin-bottom: 30px;
    
}

.vidTitle {
  position: relative;
 
}

.form {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.vidShowContainer {
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}*/

.uploadLink {
  margin-top: 20px;
  color: #1a0630;
}