
.navbar ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 8px ;
}

 
.navbar a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  margin: 10px;
}
 
.navbar a:hover {
  color: #808080;
}
 
.navbar a.active {
  background-color: #fff;
  color: #808080;
  cursor: default;
}
 
.navbar li {
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin-right: -4px;
}